$black: #333333;
$orange: #ff730b;
$grey-1: #f8f8f8;
$grey-2: #ededed;
$grey-3: #e0e0e0;
$grey-4: #c1c1c1;
$grey-5: #8a8a8a;
$green: #12bf6c;
$green-1: #67d9a2;
$white: #ffffff;
$primary: #0067dd;
$red: #eb1537;
$pink: #ff99aa;

